<template>
  <div class="w-100">
    <div class="pb40">
      <h3 class="mt50 mb10 summary-title a-bold f-s-30 cl-black-222222 align-center">
        {{ $t('Order Summary') }}
      </h3>
      <div class="cs-products">
        <product v-for="product in productsInCart" :key="product.server_item_id || product.id" :product="product" />
      </div>
      <div class="checkout" v-if="productsInCart && productsInCart.length">
        <div class="checkout--inner pt10">
        <div v-for="(segment, index) in totals" :key="index" class="row py10 pl30 pr55 " v-if="segment.code !== 'grand_total'">
          <div class="col-xs f-s-16 cl-black-666666">
            {{ segment.title }}
          </div>
          <div v-if="segment.value != null" class="col-xs align-right cl-black-666666 f-s-16">
            {{ segment.value | price(storeView) }}
          </div>
        </div>

        <div class="row pt20 pb20 pl30 pr55 weight-400 " v-for="(segment, index) in totals" :key="index" v-if="segment.code === 'grand_total'">
          <div class="col-xs cl-gray-444444 f-s-18 a-bold">
            {{ segment.title }}
          </div>
          <div class="col-xs align-right cl-gray-444444 f-s-18 a-bold">
            {{ segment.value | price(storeView) }}
          </div>
        </div>
      </div>
      </div>
    </div>
  </div>
</template>

<script>
import { CartSummary } from '@vue-storefront/core/modules/checkout/components/CartSummary'
import { currentStoreView } from '@vue-storefront/core/lib/multistore'
import Product from './Product'

export default {
  components: {
    Product
  },
  computed: {
    storeView () {
      return currentStoreView()
    }
  },
  mixins: [CartSummary]
}
</script>

<style lang="scss" scoped>
  .cs-products {
    padding: 0 50px;
     @media (max-width: 768px) {
       padding: 0 25px;
    }
  }
  .checkout {
    padding: 0 41px;
    @media (max-width: 768px) {
       padding: 0 21px;
    }
    &--inner {
      background: #F5F5F5;
      margin-top: 40px;
      border-radius: 6px;
      border: 1px solid #DDDDDD;
    }
  }
</style>
