<template>
  <div class="mb35 ac-px40" v-if="order">

    <div class="order-header pb15 brdr-bottom-1 brdr-cl-gray-DDDDDD">
      <div class="cl-green-95BF47 brdr-rd f-s-16">
        <return-icon
          class="pointer cl-green-95BF47 bg-cl-transparent f-s-18 va-middle"
        />
        {{ $t("Order #{id}", { id: order.increment_id }) }}
      </div>
      <div
        class="brdr-1 brdr-cl-gray-DDDDDD cl-black-666666 f-s-14 a-regular py5 px20 brdr-rd"
      >
        {{ order.status | capitalize }}
      </div>
      <div>
        <span class="cl-gray-AAAAAA a-regular f-s-14">Date & time:</span>
        <span class="cl-black a-medium f-s-14">{{
          order.created_at | date("LLL", storeView)
        }}</span>
      </div>
      <div>
        <a
          href="#"
          class="cl-gray-444444 inline-block a-medium no-underline f-s-16 middle-md flex middle-xs"
          @click.prevent="remakeOrder(singleOrderItems)"
        >
          <img
            :src="'/assets/icons/MyOrder-hover.svg'"
            class="acc-link pr10"
            alt="Remake Order"
          />
          {{ $t("Remake Order") }}
        </a>
      </div>
    </div>

    <div class="row fs16 mb35">
      <div class="col-xs-12">
        <h4 class="a-bold m0 pt30 pb20 f-s-20 cl-black-222222">
          {{ $t("Items Order") }}
        </h4>
        <table class="brdr-1 brdr-cl-gray-DDDDDD">
          <thead>
            <tr class="bg-cl-white-F5F5F5">
              <th class="a-bold cl-black-222222 lh20">
                {{ $t("Thumbnail") }}
              </th>
              <th class="a-bold cl-black-222222 lh20">
                {{ $t("Product Name") }}
              </th>
              <th class="a-bold cl-black-222222 lh20">
                {{ $t("SKU") }}
              </th>
              <th class="a-bold cl-black-222222 lh20">
                {{ $t("Price") }}
              </th>
              <th class="a-bold cl-black-222222 lh20">
                {{ $t("Qty") }}
              </th>
              <th class="a-bold cl-black-222222 lh20">
                {{ $t("Subtotal") }}
              </th>
            </tr>
          </thead>
          <tbody>
            <tr
              class="brdr-top-1 brdr-cl-bg-secondary"
              v-for="item in singleOrderItems"
              :key="item.item_id"
            >
              <td class="lh25">
                <div class="po-image">
                  <product-image :image="{ src: itemThumbnail[item.sku] }" />
                </div>
              </td>
              <td
                class="f-s-16 a-bold cl-black-27272F lh25"
                :data-th="$t('Product Name')"
              >
                {{ item.name }}
              </td>
              <td
                class="f-s-14 a-medium cl-gray-444444 lh25"
                :data-th="$t('SKU')"
              >
                {{ item.sku }}
              </td>
              <td
                class="f-s-14 a-medium cl-gray-444444 lh25"
                :data-th="$t('Price')"
              >
                {{ item.price_incl_tax | price(storeView) }}
              </td>
              <td
                class="f-s-14 a-medium cl-gray-444444 lh25 align-right"
                :data-th="$t('Qty')"
              >
                {{ item.qty_ordered }}
              </td>
              <td
                class="f-s-14 a-medium cl-gray-444444 lh25"
                :data-th="$t('Subtotal')"
              >
                {{ item.row_total_incl_tax | price(storeView) }}
              </td>
            </tr>
          </tbody>
          <tfoot>
            <tr class="brdr-top-1 brdr-cl-bg-secondary">
              <td
                colspan="5"
                class="align-right f-s-14 a-medium cl-black-222222 pt20"
              >
                {{ $t("Subtotal") }}
              </td>
              <td class="align-center pt20 a-medium">
                {{ order.subtotal | price(storeView) }}
              </td>
            </tr>
            <tr>
              <td
                colspan="5"
                class="align-right f-s-14 a-medium cl-black-222222 pt20"
              >
                {{ $t("Shipping") }}
              </td>
              <td class="align-center pt20 a-medium">
                {{ order.shipping_amount | price(storeView) }}
              </td>
            </tr>
            <tr>
              <td
                colspan="5"
                class="align-right f-s-14 a-medium cl-black-222222 pt20"
              >
                {{ $t("Tax") }}
              </td>
              <td class="align-center pt20 a-medium">
                {{
                  (order.tax_amount + order.discount_tax_compensation_amount)
                    | price(storeView)
                }}
              </td>
            </tr>
            <tr v-if="order.discount_amount">
              <td
                colspan="5"
                class="align-right f-s-14 a-medium cl-black-222222 pt20"
              >
                {{ $t("Discount") }}
              </td>
              <td class="align-center pt20">
                {{ order.discount_amount | price(storeView) }}
              </td>
            </tr>
            <tr>
              <td colspan="5" class="align-right f-s-14 a-bold cl-black-222222">
                {{ $t("Grand Total") }}
              </td>
              <td class="align-center pt20 a-bold">
                {{ order.grand_total | price(storeView) }}
              </td>
            </tr>
          </tfoot>
        </table>
      </div>
    </div>
    <div class="row fs16 mb35">
      <div class="col-xs-12">
        <h4 class="a-bold cl-black-222222 f-s-20 mb0">
          {{ $t("Order Information") }}
        </h4>
        <div class="row">
          <div class="col-sm-6 col-lg-3 mt35">
            <h5 class="cl-black-666666 a-bold f-s-16 mt0">
              {{ $t("Shipping Address") }}
            </h5>
            <address>
              <p class="pb20">
                {{ shippingAddress.firstname }} {{ shippingAddress.lastname }}
              </p>
              <p>
                {{ shippingAddress.street[0] }} {{ shippingAddress.street[1] }}
              </p>
              <p>{{ shippingAddress.postcode }} {{ shippingAddress.city }}</p>
              <p>{{ shippingAddress.country }}</p>
            </address>
          </div>
          <div class="col-sm-6 col-lg-3 mt35">
            <h5 class="cl-black-666666 a-bold f-s-16 mt0">
              {{ $t("Shipping Method") }}
            </h5>
            <p class="cl-gray-888888 f-s-14">
              {{ order.shipping_description }}
            </p>
          </div>
          <div class="col-sm-6 col-lg-3 mt35">
            <h5 class="cl-black-666666 a-bold f-s-16 mt0">
              {{ $t("Billing Address") }}
            </h5>
            <address>
              <p class="pb20">
                {{ billingAddress.firstname }} {{ billingAddress.lastname }}
              </p>
              <p>
                {{ billingAddress.street[0] }} {{ billingAddress.street[1] }}
              </p>
              <p>{{ billingAddress.postcode }} {{ billingAddress.city }}</p>
              <p>{{ billingAddress.country }}</p>
            </address>
          </div>
          <div class="col-sm-6 col-lg-3 mt35">
            <h5 class="cl-black-666666 a-bold f-s-16 mt0">
              {{ $t("Payment Method") }}
            </h5>
            <p class="cl-gray-888888 f-s-14">{{ paymentMethod }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Vue from "vue";
import MyOrder from "@vue-storefront/core/compatibility/components/blocks/MyAccount/MyOrder";
import ReturnIcon from "theme/components/core/blocks/Header/ReturnIcon";
import ProductImage from "theme/components/core/ProductImage";
import {
  getThumbnailPath,
  productThumbnailPath
} from "@vue-storefront/core/helpers";
import { currentStoreView } from "@vue-storefront/core/lib/multistore";
import { mapActions } from "vuex";

export default {
  mixins: [MyOrder],
  components: {
    ReturnIcon,
    ProductImage
  },
  data() {
    return {
      itemThumbnail: []
    };
  },
  computed: {
    storeView() {
      return currentStoreView();
    }
  },
  methods: {
    ...mapActions({
      getProduct: "product/single"
    })
  },
  mounted() {
    this.singleOrderItems.forEach(async item => {
      if (!this.itemThumbnail[item.sku]) {
        const product = await this.getProduct({
          options: { sku: item.sku },
          setCurrentProduct: false,
          setCurrentCategoryPath: false,
          selectDefaultVariant: false
        });
        const thumbnail = productThumbnailPath(product);
        Vue.set(
          this.itemThumbnail,
          item.sku,
          getThumbnailPath(thumbnail, 280, 280)
        );
      }
    });
  }
};
</script>

<style lang="scss" scoped>
@import "~theme/css/variables/colors";
@import "~theme/css/helpers/functions/color";
$color-tertiary: color(tertiary);
$color-white-smoke: color(white-smoke);
$gray-888888: color(gray-888888);

table {
  border-collapse: collapse;
  width: 100%;

  @media (max-width: 767px) {
    border-top: none;
  }
  thead th,
  tbody td {
    text-align: center;
    padding: 10px 5px;

    @media (max-width: 1199px) {
      padding: 10px;
    }
  }

  thead {
    @media (max-width: 767px) {
      display: none;
    }
  }

  tbody {
    tr {
      td {
        &:first-child::before {
          @media (max-width: 767px) {
            display: none;
          }
        }
      }
      @media (max-width: 767px) {
        display: block;
      }
    }

    td {
      @media (max-width: 767px) {
        display: block;
        text-align: left;
        padding: 10px 20px;
        &:before {
          content: attr(data-th) ": ";
          font-weight: 700;
        }
      }

      &:first-child {
        @media (max-width: 767px) {
          padding: 20px 20px 10px 20px;
        }
      }

      &:last-child {
        @media (max-width: 767px) {
          padding: 10px 20px 20px 20px;
        }
      }
    }
  }
  tfoot {
    tr {
      @media (max-width: 767px) {
        display: flex;
      }

      &:last-child {
        td:last-child {
          padding-bottom: 20px;
        }
      }
    }

    td {
      @media (max-width: 767px) {
          flex: 0 0 50%;
          width: 50%;
          box-sizing: border-box;
      }

      &:first-child {
        @media (max-width: 767px) {
          font-weight: 700;
          padding: 10px;
        }
      }

      &:last-child {
        @media (max-width: 767px) {
          padding: 10px;
          text-align: left;
        }
      }
    }
  }

  i {
    vertical-align: middle;
  }
}
.va-middle {
  vertical-align: middle;
}
address {
  font-style: normal;
  p {
    margin: 0;
    font-size: 14px;
    color: $gray-888888;
  }
}
.brdr-rd {
  border-radius: 15px;
}
.po-image {
  max-width: 100%;
  width: 61px;
  height: auto;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .order-ts {
    font-size: 14px;
  }
}
.order-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

  div {
    margin: 5px 0;
  }
}
</style>
