<template>
  <section class="save-upto-section mb50">
    <div class="container">
      <h3 class="section-title uppercase f-s-25 cl-black-2E2F30 align-center mb50 a-bold">
        {{ $t("Save Upto - 30%") }}
      </h3>
      <div class="save-upto-list custom-carousel" v-if="saveUptoProduct.length > 0">
        <carousel
          :per-page="1"
          :per-page-custom="[[0, 1], [480, 2], [768, 3], [1200, 4]]"
          :mouse-drag="false"
          :pagination-enabled="true"
          :navigation-enabled="true"
          pagination-active-color="#828282"
          navigation-next-label="<img src='/assets/icons/prev.svg'/>"
          navigation-prev-label="<img src='/assets/icons/prev.svg'/>"
        >
          <slide v-for="(product, index) of saveUptoProduct" :key="index" class="hover-on-product">
            <product-tile :product="product" />
          </slide>
        </carousel>
      </div>
    </div>
  </section>
</template>
<script>
import config from 'config'
import NoSSR from 'vue-no-ssr'
import SearchQuery from '@vue-storefront/core/lib/search/searchQuery';
import { prepareQuery } from '@vue-storefront/core/modules/catalog/queries/common';
import ProductTile from 'theme/components/core/ProductTile'
export default {
  name: 'SaveUpto',
  data () {
    return {
      saveUptoCatID: config.aureatelabs.SaveUpto.value,
      saveUptoProduct: []
    }
  },
  components: {
    Carousel: () => import('vue-carousel').then(Slider => Slider.Carousel),
    Slide: () => import('vue-carousel').then(Slider => Slider.Slide),
    'no-ssr': NoSSR,
    ProductTile
  },
  async mounted () {
    let newProductsQuery = prepareQuery({ filters: [{ 'key': 'category_ids', 'value': { 'eq': 26 } } ] })
    const newProductsResult = await this.$store.dispatch('product/list', {
      query: newProductsQuery,
      size: 10
    });

    this.saveUptoProduct =
        newProductsResult.items.length > 0 ? newProductsResult.items : [];
  }
}
</script>
<style lang="scss" scoped>
@media (max-width: 767px) {
  .section-title {
    font-size: 18px;
    margin-bottom: 20px;
  }
}
</style>
<style lang="scss">
.save-upto-list {
  .VueCarousel {
    @media (min-width: 1366px) {
      padding: 0 60px;
    }
  }
  .VueCarousel-navigation-button {
    img {
      width: 68px;
      height: 68px;
    }
    @media (max-width: 1365px) {
      display: none;
    }
    &.VueCarousel-navigation-prev {
      transform: translateY(-50%) translateX(-14px);
    }
    &.VueCarousel-navigation-next {
      transform: translateY(-50%) translateX(14px);
      img {
        transform: rotate(180deg);
      }
    }
  }
  .VueCarousel-pagination {
    display: none;
    @media (max-width: 1365px) {
      display: block;
    }
  }
}
</style>
