<template>
  <div class="sort-by relative">
    <div v-if="type === 'select'">
      <select
        name="sortby"
        class="cl-black-666666"
        v-model="sortby"
        @change="changeOrder"
      >
        <option selected="selected" disabled value="" v-if="!hasLabel">
          {{ $t("Sort") }}
        </option>
        <option
          v-for="variant in sortingVariants"
          :value="variant"
          :key="variant.id"
        >
          {{ $t(variant.label) }}
        </option>
      </select>
    </div>
    <div class="sortby-slider" v-if="type === 'slider'">
      <div
        class="sort-title f-s-16 py10 cl-black-222222 a-medium uppercase align-center brdr-bottom-1 brdr-cl-gray-DDDDDD"
      >
        {{ $t("Sort") }}
        <span class="absolute close-sortby-slider">
          <i
            class="material-icons f-s-20 p10  cl-gray-222220"
            @click="$bus.$emit('close-sortby-filter')"
            >close</i
          >
        </span>
      </div>
      <ul class="sortby-list m0 p0 align-center" v-if="sortingVariants.length > 0">
        <li
          v-for="variant in sortingVariants"
          :key="variant.id"
          @click="productSortBy(variant)"
          class="cl-black-666666 f-s-16 py15"
        >
          {{ $t(variant.label) }}
        </li>
      </ul>
    </div>
  </div>
</template>

<script>
import SortBy from "@vue-storefront/core/compatibility/components/SortBy";
import { products } from "config";
export default {
  mixins: [SortBy],
  props: {
    hasLabel: {
      type: Boolean,
      required: false,
      default: false
    },
    value: {
      type: String,
      default: ""
    },
    type: {
      type: String,
      required: false,
      default: "select"
    }
  },
  data() {
    return {
      sortby: null
    };
  },
  watch: {
    value: {
      handler() {
        const defaultVariant =
          this.value && this.value.length
            ? this.value
            : products.defaultSortBy.attribute;
        this.sortby = this.sortingVariants.find(variant =>
          variant.id.includes(defaultVariant)
        );
      },
      immediate: true
    }
  },
  methods: {
    productSortBy ( variant ) {
      this.sortby = variant
      this.changeOrder()
      this.$bus.$emit('close-sortby-filter')
    }
  }
};
</script>
<style lang="scss" scoped>
@import "~theme/css/base/text";
@import "~theme/css/variables/colors";
@import "~theme/css/helpers/functions/color";
$gray-D8D8D8: color(gray-D8D8D8);
.sort-by {
  select {
    font-size: 14px;
    border: 1px solid $gray-D8D8D8;
    border-radius: 4px;
    background-color: transparent;
    margin-right: 0;
    &:focus {
      outline: none;
    }
  }
  &__icon {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
  }
}
@media (max-width: 770px) {
  .sort-by {
    width: 100%;
  }
}
.sortby-slider {
  width: 100%;
  max-height: 342px;
  height: 100%;
  
  -webkit-overflow-scrolling: touch;
  .sort-title {
    .close-sortby-slider {
      right: 5px;
      top: 0;
    }
  }
  .sortby-list {
    max-height: inherit;
    overflow-y: auto;
    overflow-x: hidden;
    box-sizing: border-box;
    list-style: none;
  }
}
</style>
