<template>
    <section class="container px15 cl-primary">
      <div class="brdr-top-1 brdr-cl-secondary">
          <div class="row center-xs">
            <div class="col-xs-12 col-lg-8 pt50 pb50">
              <h2 class="h3 m0 mb10 serif lh20 weight-700 uppercase">
                {{ $t('Reviews') }}
              </h2>
              <reviews-list
                :per-page="4"
                :items="reviews"
                :product-name="productName"
              />
            </div>
            <div class="col-xs-12">
              <div class="brdr-top-1 brdr-cl-secondary pt20" :class="accordionClasses">
                <h2 class="h4 m0 serif lh20 weight-700 uppercase brdr-bottom-1 brdr-cl-secondary pb20 accordion-header flex center-xs middle-xs" @click="toggleAccordion">
                  {{ $t('Write Your Review') }} <i class="arrow ml10" :class="accordionHeaderArrow"></i>
                </h2>
                <div class="accordion-body">
                  <div class="row center-xs brdr-bottom-1 brdr-cl-secondary pb50">
                    <div class="col-lg-8">
                      <div class="row">
                        <div class="col-lg-7 pt30">
                          <h4 class="f-s-20 m0 align-left">{{ $t('Write Your Review') }}</h4>
                          <p class="f-s-14 mt0 align-left cl-secondary">{{ $t('Nullam quis risus eget urna mollis ornare vel eu leo.') }}</p>
                          <form action="#" @submit.prevent="outOfScope()">
                            <div class="mb10 pt20">
                              <base-input
                                type="text"
                                :placeholder="$t('Name') + ' *'"
                                v-model="formData.name"
                                @blur="$v.formData.name.$touch()"
                                :validations="[
                                  {
                                    condition: $v.formData.name.$error && !$v.formData.name.required,
                                    text: $t('Field is required')
                                  },
                                  {
                                    condition: !$v.formData.name.minLength,
                                    text: $t('Name must have at least 2 letters.')
                                  }
                                ]"
                              />
                            </div>
                            <div class="mb10">
                              <base-input
                                type="email"
                                :placeholder="$t('Email') + ' *'"
                                v-model="formData.email"
                                @blur="$v.formData.email.$touch()"
                                :validations="[
                                  {
                                    condition: $v.formData.email.$error && !$v.formData.email.required,
                                    text: $t('Field is required')
                                  },
                                  {
                                    condition: !$v.formData.email.email && $v.formData.email.$error,
                                    text: $t('Please provide valid e-mail address.')
                                  }
                                ]"
                              />
                            </div>
                            <!-- <div class="mb10">
                              <base-input
                                type="text"
                                :placeholder="$t('Summary') + ' *'"
                                v-model="formData.summary"
                                @blur="$v.formData.summary.$touch()"
                                :validations="[
                                  {
                                    condition: $v.formData.summary.$error && !$v.formData.summary.required,
                                    text: $t('Field is required')
                                  }
                                ]"
                              />
                            </div> -->
                            <div class="mb25">
                              <base-textarea
                                type="text"
                                :placeholder="$t('Your Review') + ' *'"
                                v-model="formData.review"
                                @blur="$v.formData.review.$touch()"
                                :validations="[
                                  {
                                    condition: $v.formData.review.$error && !$v.formData.review.required,
                                    text: $t('Field is required')
                                  }
                                ]"
                              />
                            </div>
                            <div class="row m0 middle-xs buttons">
                              <button-full
                                @click.native="validate()"
                                class="btn-fill"
                                :class="{ 'w-auto': !currentUser }"
                              >
                                {{ $t('SUBMIT') }}
                              </button-full>
                              <no-ssr>
                                <span
                                  class="fs-medium ml20 cl-gray lh30 py5 block"
                                  v-if="!currentUser"
                                >
                                  {{ $t('or') }} <a href="#" class="cl-primary" @click.prevent="login()">{{ $t('login') }}</a> {{ $t('to account') }}
                                </span>
                              </no-ssr>
                            </div>
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
      </div>
    </section>
</template>

<script>
import { required, email, minLength } from 'vuelidate/lib/validators'

import BaseInput from 'theme/components/core/blocks/Form/BaseInput'
import BaseTextarea from 'theme/components/core/blocks/Form/BaseTextarea'
import ButtonFull from 'theme/components/theme/ButtonFull'
import ReviewsList from 'theme/components/theme/blocks/Reviews/ReviewsList'
import { Reviews } from '@vue-storefront/core/modules/review/components/Reviews'
import { AddReview } from '@vue-storefront/core/modules/review/components/AddReview'
import NoSSR from 'vue-no-ssr'
import i18n from '@vue-storefront/i18n'

export default {
  name: 'Reviews',
  data () {
    return {
      formData: {
        name: '',
        email: '',
        summary: '',
        review: ''
      },
      isOpen: false
    }
  },
  props: {
    productId: {
      type: [String, Number],
      required: true
    },
    productName: {
      type: String,
      default: ''
    }
  },
  computed: {
    currentUser () {
      return this.$store.state.user.current
    },
    accordionClasses () {
      return {
        'is-closed': !this.isOpen,
        'is-primary': this.isOpen,
        'is-dark': !this.isOpen
      };
    },
    accordionHeaderArrow () {
      return {
        'right': !this.isOpen,
        'down': this.isOpen
      }
    }
  },
  methods: {
    validate () {
      this.$v.$touch()
      if (!this.$v.$invalid) {
        this.submit()
      }
    },
    refreshList () {
      this.$store.dispatch('review/list', { productId: this.productId })
    },
    async submit () {
      const isReviewCreated = await this.$store.dispatch('review/add', {
        'product_id': this.productId,
        'title': this.formData.summary,
        'detail': this.formData.review,
        'nickname': this.formData.name,
        'review_entity': 'product',
        'customer_id': this.currentUser ? this.currentUser.id : null
      })

      if (isReviewCreated) {
        this.$store.dispatch('notification/spawnNotification', {
          type: 'success',
          message: i18n.t('You submitted your review for moderation.'),
          action1: { label: i18n.t('OK') }
        })

        return
      }

      this.$store.dispatch('notification/spawnNotification', {
        type: 'error',
        message: i18n.t('Something went wrong. Try again in a few seconds.'),
        action1: { label: i18n.t('OK') }
      })
    },
    clearReviewForm () {
      this.formData.name = ''
      this.formData.email = ''
      this.formData.summary = ''
      this.formData.review = ''
      this.$v.$reset()
    },
    login () {
      this.$bus.$emit('modal-show', 'modal-signup')
    },
    fillInUserData () {
      if (this.currentUser) {
        this.formData.name = this.currentUser.firstname
        this.formData.email = this.currentUser.email
      }
    },
    toggleAccordion () {
      this.isOpen = !this.isOpen;
    }
  },
  mounted () {
    this.$bus.$on('product-after-load', this.refreshList)
    this.$bus.$on('clear-add-review-form', this.clearReviewForm)
    this.$bus.$on('user-after-loggedin', this.fillInUserData)
  },
  destroyed () {
    this.$bus.$off('product-after-load', this.refreshList)
    this.$bus.$off('clear-add-review-form', this.clearReviewForm)
    this.$bus.$off('user-after-loggedin', this.fillInUserData)
  },
  beforeMount () {
    this.refreshList()
    this.fillInUserData()
  },
  mixins: [ Reviews ],
  validations: {
    formData: {
      name: {
        minLength: minLength(2),
        required
      },
      email: {
        required,
        email
      },
      summary: {
        required
      },
      review: {
        required
      }
    }
  },
  components: {
    ButtonFull,
    BaseInput,
    BaseTextarea,
    ReviewsList,
    'no-ssr': NoSSR
  }
}
</script>
<style lang="scss" scoped>
  .accordion-header {
    cursor: pointer;
  }
  .accordion-body   {
    padding: 0;
    max-height: 440px;
    overflow: hidden;
    transition: 0.3s ease all;
  }
  .is-closed .accordion-body {
    max-height: 0;
  }
</style>
