<template>
  <div class="container top-header hidden-xs">
    <div class="flex between-xs">
      <div class="first">
        <span class="cl-gray-888888 f-s-12">{{ $t('Support: ') }}</span>
        <span class="cl-black-101010 f-s-12">{{ '(012) 800 456 789' }}</span>
      </div>
      <div class="second">
        <span class="cl-gray-888888 f-s-12">{{ $t('Ordered before ') }} <span class="cl-black-101010">17:30</span></span>
        <span class="cl-gray-888888 f-s-12">{{ $t('Shipped ') }} <span class="cl-black-101010">Today</span></span>
      </div>
      <div class="third">
        <span class="country">
          <img src="/assets/united_kingdom.svg" alt="United Kingdom">
          <span class="cl-black-222222 f-s-12">{{ $t('EN') }}</span>
        </span>
        <span class="country ml10">
          <img src="/assets/united_state.svg" alt="United State">
          <span class="cl-black-222222 f-s-12">{{ $t('USD') }}</span>
        </span>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  name: 'TopHeaderBar'
}
</script>
<style lang="scss" scoped>
.top-header {
  height: 39px;
  line-height: 39px;
  .third {
    img {
      width: 25px;
      height: 15px;
      vertical-align: middle;
    }
  }
}
</style>
