<template>
  <button
    type="button"
    class="relative cart-btn bg-cl-green-95BF47 brdr-none inline-flex middle-xs"
    @click="openMicrocart"
    data-testid="openMicrocart"
    :aria-label="$t('Open microcart')"
  >
    <img src="/assets/icons/micro-cart.svg" alt="Microcart" class="mw-100">
    <div class="cl-white cart-text f-s-12 flex hidden-xs">
      <span>
        {{ $t(`My Cart (${totalQuantity})`) }}
      </span>
      <span>
        {{ cartTotalAmount | price(storeView) }}
      </span>
    </div>
  </button>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'
import MicrocartIcon from '@vue-storefront/core/compatibility/components/blocks/Header/MicrocartIcon'
import { syncCartWhenLocalStorageChange } from '@vue-storefront/core/modules/cart/helpers'
import { currentStoreView } from '@vue-storefront/core/lib/multistore'

export default {
  mounted () {
    syncCartWhenLocalStorageChange.addEventListener()
    this.$once('hook:beforeDestroy', () => {
      syncCartWhenLocalStorageChange.removeEventListener()
    })
  },
  computed: {
    ...mapGetters({
      totalQuantity: 'cart/getItemsTotalQuantity',
      cartTotal: 'cart/getTotals'
    }),
    storeView () {
      return currentStoreView()
    },
    cartTotalAmount () {
      return this.cartTotal[0].value
    }
  },
  methods: {
    ...mapActions({
      openMicrocart: 'ui/toggleMicrocart'
    })
  }
}
</script>

<style lang="scss" scoped>
.cart-btn {
  border-radius: 6px;
  padding: 8px;
  div {
    flex-direction: column;
    span {
      padding-left: 10px;
    }
    span:nth-child(2) {
      align-self: flex-start;
      margin-top: 2px;
    }
  }
}
@media (max-width: 768px) {
  .cart-text {
    font-size: 10px;
  }
}
  .minicart-count {
    top: 7px;
    left: 50%;
    min-width: 16px;
    min-height: 16px;
    border-radius: 10px;
  }
</style>
