<template>
  <div class="relative">
    <div class="hidden-xs">
      <div class="search-group flex brdr-1 brdr-cl-white-EEEEEE">
        <input
          class="search-input w-100 f-s-14 cl-gray-CCCCCC"
          :placeholder="$t('Search Somthing here')"
          type="search"
          autofocus="true"
          v-model="search"
          @input="makeSearch"
          @focus="openSearchBox"
        />
        <i class="material-icons search-icons cl-green-95BF47">search</i>
      </div>
    </div>
    <div class="hidden-md flex middle-xs">
      <button
        type="button"
        class="bg-cl-transparent brdr-none inline-flex p10"
        @click="toggleSearchpanel"
      >
        <i class="material-icons search-icons cl-green-95BF47">search</i>
      </button>
      <!-- <div
        class="search-group flex brdr-1 brdr-cl-gray-CCCCCC ml10"
        v-if="isMobileSearch"
      >
        <input
          class="search-input w-100 f-s-14 cl-gray-CCCCCC"
          :placeholder="$t('Search Somthing here')"
          type="search"
          autofocus="true"
          v-model="search"
          @input="makeSearch"
        />
        <i class="material-icons search-icons cl-green-95BF47">search</i>
      </div>
      <button
        @click="openMobileSearchBox"
        v-if="isMobileSearch"
        class="close-search brdr-none bg-cl-blue-02AFCE cl-white flex center-xs"
      >
        <i class="modal-close material-icons pointer">close</i>
      </button> -->
    </div>
    <div class="search-lists bg-cl-white" v-if="isSeachBoxOpen">
      <search-result :search-result="visibleProducts" />
    </div>
    <div class="overlay fixed w-100" @click="openSearchBox" v-if="isVisible" />
  </div>
</template>

<script>
import SearchIcon from "@vue-storefront/core/compatibility/components/blocks/Header/SearchIcon";
import SearchPanel from "@vue-storefront/core/compatibility/components/blocks/SearchPanel/SearchPanel";
import SearchResult from "./SearchResults";
export default {
  mixins: [SearchIcon, SearchPanel],
  components: {
    SearchResult
  },
  props: {
    isMobileSearch: {
      type: Boolean,
      default: false,
      required: false
    }
  },
  data() {
    return {
      isSeachBoxOpen: false,
      isVisible: false
    };
  },
  watch: {
    $route(to, from) {
      this.isSeachBoxOpen = false;
      this.isVisible = false;
    }
  },
  computed: {
    visibleProducts() {
      const productList = this.products || [];
      return productList;
    }
  },
  methods: {
    openSearchBox() {
      this.isVisible = !this.isVisible;
      this.isSeachBoxOpen = !this.isSeachBoxOpen;
    },
    openMobileSearchBox() {
      this.$bus.$emit("open-search-input");
    }
  }
};
</script>
<style lang="scss" scoped>
@import "~theme/css/variables/colors";
@import "~theme/css/helpers/functions/color";
@import "~theme/css/base/global_vars";
$cl-cccccc: color(gray-CCCCCC);
$cl-eeeeee: color(white-EEEEEE);
$color-bg: color(black);
$z-index-overlay: map-get($z-index, overlay);

.search-group {
  box-shadow: inset 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
  input {
    border: none;
    height: auto !important;
    line-height: normal !important;
    padding-left: 16px;
    outline: 0;
    background-color: transparent;
    &::placeholder {
      color: $cl-cccccc;
    }
  }
  input[type="search"]::-webkit-search-decoration,
  input[type="search"]::-webkit-search-cancel-button,
  input[type="search"]::-webkit-search-results-button,
  input[type="search"]::-webkit-search-results-decoration {
    display: none;
  }
  .search-icons {
    padding: 10px;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      top: 10px;
      bottom: 10px;
      left: 0;
      width: 1px;
      background-color: $cl-eeeeee;
    }
  }
}
.overlay {
  height: 100vh;
  top: 0;
  left: 0;
  z-index: $z-index-overlay;
}
.search-lists {
  height: auto;
  width: 893px;
  position: absolute;
  z-index: 9999;
  top: 68px;
  left: -110px;
  border-radius: 4px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  &::after {
    content: "";
    position: absolute;
    top: -10px;
    left: 160px;
    right: 0;
    width: 20px;
    height: 20px;
    transform: rotate(225deg);
    -webkit-transform: rotate(225deg);
    background: #fff;
    box-shadow: 1px 1px 0 0 rgba(0, 0, 0, 0.2);
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    width: 610px;
  }
}
@media (max-width: 767px) {
    .close-search {
      height: 25px;
      width: 25px;
      border-radius: 50%;
      margin-left: 5px;
    }
  }
</style>
