<template>
  <div class="px40 relative pb30">
    <div class="close-icon">
      <button @click="close" class="brdr-none bg-cl-blue-02AFCE">
        <i class="modal-close material-icons f-s-20 cl-white">close</i>
      </button>
    </div>
    <div v-if="hasRedirect" class="pt10 pb10 px65 redirect-error">
      <p class="h5 mb0 mt0">
        {{ $t("You need to be logged in to see this page") }}
      </p>
    </div>
    <div class="modal-content mt10">
      <form @submit.prevent="login" novalidate>
        <div class="input-field mb15">
          <base-input
            :icon-input="'fa fa-user-o'"
            type="email"
            name="email"
            focus
            v-model="email"
            @blur="$v.email.$touch()"
            :label-remove="true"
            :placeholder="$t('Email *')"
            :validations="[
              {
                condition: !$v.email.required && $v.email.$error,
                text: $t('Field is required.')
              },
              {
                condition: !$v.email.email && $v.email.$error,
                text: $t('Please provide valid e-mail address.')
              }
            ]"
          />
        </div>
        <div class="input-field mb15">
          <base-input
            type="password"
            name="password"
            :icon-input="'fa fa-lock'"
            v-model="password"
            @blur="$v.password.$touch()"
            :placeholder="$t('Password *')"
            :label-remove="true"
            :validations="[
              {
                condition: !$v.password.required && $v.password.$error,
                text: $t('Field is required.')
              }
            ]"
          />
        </div>
        <div>
          <vue-recaptcha @verify="markRecaptchaAsVerified"
            sitekey="6Lf6K88ZAAAAAJCsH5zYnEcgY71hxiCSEpyOAVT9"
            :loadRecaptchaScript="true"
             ></vue-recaptcha>
          <div class="recaptch-red"><strong>{{pleaseTickRecaptchaMessage }}</strong></div>
        </div>
        <div class="align-right mb20">
          <a
            href="#"
            class="cl-blue-02AFCE f-s-12 no-underline a-medium"
            @click.prevent="remindPassword"
          >
            {{ $t("Forgot Your Password?") }}
          </a>
        </div>
        <button-full
          class="submit-btn uppercase a-bold cl-white bg-cl-green-95BF47"
          type="submit"
          data-testid="loginSubmit"
        >
          {{ $t("Sign in") }}
        </button-full>
      </form>
    </div>
  </div>
</template>

<script>
import Login from "@vue-storefront/core/compatibility/components/blocks/Auth/Login";
import ButtonFull from "theme/components/theme/ButtonFull.vue";
import BaseCheckbox from "../Form/BaseCheckbox.vue";
import BaseInput from "../Form/BaseInput.vue";
import { required, email } from "vuelidate/lib/validators";
import VueRecaptcha from "vue-recaptcha";

export default {
  mixins: [Login],
  validations: {
    email: {
      required,
      email
    },
    password: {
      required
    },    
      },
  data() {
    return {
      hasRedirect: !!localStorage.getItem("redirect"),
      recaptchaVerified: false,
      pleaseTickRecaptchaMessage: ''
    };
  },
  methods: {
    close(e) {
      if (e) localStorage.removeItem("redirect");
      this.$bus.$emit("modal-hide", "modal-signup");
    },
   markRecaptchaAsVerified(response) {
     console.log("recaptcha :", response)
      this.pleaseTickRecaptchaMessage = '';
      this.recaptchaVerified = true;
    },
    login() {
      debugger;
         if (this.$v.$invalid && !this.recaptchaVerified) {
              this.pleaseTickRecaptchaMessage ="Please verify that you are not a robot."
        this.$v.$touch();
        this.$store.dispatch("notification/spawnNotification", {
          type: "error",
          message: this.$t("Please fix the validation errors"),
          action1: { label: this.$t("OK") }
        });
        return;
      }else if (!this.recaptchaVerified){
        this.pleaseTickRecaptchaMessage =""
      }
      this.callLogin();
    },
    remindPassword() {
      if (!(typeof navigator !== "undefined" && navigator.onLine)) {
        this.$store.dispatch("notification/spawnNotification", {
          type: "error",
          message: this.$t(
            "Reset password feature does not work while offline!"
          ),
          action1: { label: this.$t("OK") }
        });
      } else {
        this.callForgotPassword();
      }
    },
    onSuccess() {
      this.$store.dispatch("notification/spawnNotification", {
        type: "success",
        message: this.$t("You are logged in!"),
        action1: { label: this.$t("OK") }
      });
    },
    onFailure(result) {
      this.$store.dispatch("notification/spawnNotification", {
        type: "error",
        message: this.$t(result.result),
        action1: { label: this.$t("OK") }
      });
    },
    recaptchaCallback() {
      console.log("recaptcha is ready"); // showing
      grecaptcha.render("recaptcha", {
        sitekey: "SITE_KEY",
        callback: function() {
          console.log("recaptcha callback");
        }
      });
    }
  },
  components: {
    ButtonFull,
    BaseCheckbox,
    BaseInput,
    VueRecaptcha
  }
};
</script>
<style lang="scss">
.submit-btn {
  padding: 13px 0 !important;
}
.recaptch-red{
  color:red
}
</style>
