<template>
  <modal name="modal-signup" :width="430">
    <div class="account-tabs px40 pt30 pb20" v-if="activeElem !== 'forgot-pass'">
      <ul class="tab-ul flex m0 p0">
        <li @click="changeTheModal('login')" :class="{'active': activeElem === 'login'}">{{"Login"}}</li>
        <li @click="changeTheModal('register')" :class="{'active': activeElem === 'register'}" >{{"Register"}}</li>
      </ul>
    </div>
    <login v-if="activeElem === 'login'" />
    <register v-if="activeElem === 'register'" />
    <forgot-pass v-if="activeElem === 'forgot-pass'" />
  </modal>
</template>

<script>
import { mapState } from 'vuex'
import Modal from 'theme/components/core/Modal'
import Login from 'theme/components/core/blocks/Auth/Login'
import Register from 'theme/components/core/blocks/Auth/Register'
import ForgotPass from 'theme/components/core/blocks/Auth/ForgotPass'

export default {
  name: 'SignUp',
  computed: {
    ...mapState({
      activeElem: state => state.ui.authElem
    })
  },
  components: {
    Modal,
    Login,
    Register,
    ForgotPass
  },
  methods: {
    changeTheModal ( modal ) {
      this.$store.commit('ui/setAuthElem', modal)
    }
  }
}
</script>

<style lang="scss" scoped>
@import '~theme/css/variables/colors';
@import '~theme/css/helpers/functions/color';
$color-error: color(error);
$white: color(white);
$gray-AAAAAA: color(gray-AAAAAA);
$blue-02AFCE: color(blue-02AFCE);

.modal {
  font-size: 18px;
}
.account-tabs {
  .tab-ul {
    list-style: none;
    li {
      font-size: 16px;
      padding: 0 30px 10px;
      color: $gray-AAAAAA;
      cursor: pointer;
    }
  }
}
.active {
  color: $blue-02AFCE !important;
  border-bottom: 1px solid $blue-02AFCE;
}
</style>
<style lang="scss">
.modal-container {
  border-radius: 10px;
}
.close-icon {
  position: absolute;
  top: -95px;
  right: -15px;
  button {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    margin: auto;
    i {
      vertical-align: middle;
    }
  }
}
@media (max-width: 767px) {
    .close-icon {
      top: -70px;
      right: 10px;
    }
    .modal-container {
      border-radius: 0;
    }
  }
</style>
