@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
$green: color(green-95BF47);
$white: color(white);
:focus {
  outline: 0 none;
}
::-moz-selection {
  color: $white;
  background: $green;
}
::selection {
  color: $white;
  background: $green;
}
select {
  appearance: none;
  padding: 11px 20px 11px 10px;
  line-height: 1;
  background-image: url(../assets/icons/down-arrow.svg);
  background-repeat: no-repeat;
  background-size: 22px;
  background-position: right center;
}
.mb50 {
  margin-bottom: 50px;
}
.bordr-none {
  border: 0;
}
.custom-carousel {
  .product {
    width: auto !important;
  }
  .product-image--width{
    .product-image__thumb {
      width: auto !important;
      height: 100% !important;
    }
  }
  .VueCarousel-navigation-next {
    img {
      transform: rotate(180deg);
    }
  }
  .VueCarousel-navigation-button {
    img {
      width: 68px;
      height: 68px;
    }
  }
}
.VueCarousel-dot,
.VueCarousel-navigation-button {
  &:focus {
    outline: 0 none !important;
  }
}

.a-regular {
  font-family: 'Apercu Regular';
}
.a-bold {
  font-family: 'Apercu Bold';
}
.a-mono  {
  font-family: 'Apercu Mono';
}
.a-light {
  font-family: 'Apercu Light';
}
.a-medium {
  font-family: 'Apercu Medium';
}

.img-cover {
  font-family: "object-fit: cover;";
  object-fit: cover;
  width: 100%;
}

.btn-fill {
  background-color: $green;
  color: $white;
  border: 1px solid $green;
  &:hover {
    background-color: transparent;
    color: $green;
    border: 1px solid $green;
  }
}

.arrow {
  border: solid #4f4f4f;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
  margin-bottom: -3px;
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  margin-top: -3px;
}